:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.rectangle-header{
  position: absolute;
  width: 100%;
  height: 170px;
  top: 0px;
  left: 0px;
  background: #14274a;
  z-index: 21;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 2648px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.sfondo-header {
  position: relative;
  width: 1920px;
  height: 170px;
  margin: 0 0 0 0;
  background: #14274a;
  z-index: 1;
}
.rectangle {
  position: absolute;
  width: 256px;
  height: 91.69%;
  top: 0;
  right: 1451px;
  background: url(./img/dettagli/53515e94-6f3f-4234-83b5-c9894d2391a4.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36.24%;
  top: 29.53%;
  left: 16.02%;
  color: #14274a;
  font-family: Adamina, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 54.48px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 6px;
  z-index: 11;
}
.testo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 44px;
  position: absolute;
  width: 672px;
  height: 37px;
  top: 59px;
  right: 105px;
  z-index: 3;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 37px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 36.57px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.prenota {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 37px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contattaci {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 37px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 36.57px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.5px #ffffff;
}
.area-personale {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 37px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.57px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #ffffff;
}
.line {
  position: absolute;
  width: 152px;
  top: 105px;
  left: 1108px;
  background: url(./img/dettagli/09a06f3f-6d77-48b3-8ae6-e7cb4a16c514.png)
    no-repeat center;
  background-size: cover;
  border: 3px solid #ffffff;
  z-index: 74;
}
.titolo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1920px;
  height: 128px;
  margin: 77px 0 0 0;
  top: 150px;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 117.024px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.rectangle-1 {
  position: relative;
  width: 1697px;
  height: 1019px;
  margin: 40px 0 0 111px;
  top: 200px;
  background: #ffffff;
  border: 5px solid #16289e;
  z-index: 15;
  border-radius: 50px;
}
.flex-column {
  position: absolute;
  top: 5px;
  right: 1px;
  bottom: 72px;
  left: 3px;
  z-index: 39;
}
.senza-titolo {
  position: absolute;
  width: 50.03%;
  height: 60.08%;
  top: 0;
  left: 0.12%;
  background: url(./img/dettagli/21b7787f136f266828187e9b223904bb4ed11497.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
  border-radius: 50px 0 0 50px;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 810.091px;
  height: 77px;
  margin: 246px 0 0 21.948px;
  z-index: 20;
}
.left {
  flex-shrink: 0;
  position: relative;
  width: 74.824px;
  height: 75px;
  background: url(./img/dettagli/b40da33b-1b8d-41e9-99d9-4ff6639efb74.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.right {
  flex-shrink: 0;
  position: relative;
  width: 74.824px;
  height: 75px;
  background: url(./img/dettagli/d92d73b4-c374-419d-8ee2-0dd3236d9a71.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}
.circle {
  position: relative;
  width: 125.704px;
  height: 20px;
  margin: 206px 0 0 352.17px;
  background: url(./img/dettagli/0de78861-f0b6-4c03-8984-b8b0741220c7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.line-3 {
  position: absolute;
  width: 1693px;
  top: 566px;
  left: 0;
  background: url(./img/dettagli/d981f8f3-aa83-41dd-99f0-53f1b8946cdd.png)
    no-repeat center;
  background-size: cover;
  border: 5px solid #16289e;
  z-index: 34;
}
.hotel-california {
  position: absolute;
  width: 503px;
  height: 252px;
  top: 580px;
  left: 24px;
  background: url(./img/dettagli/2f0073c7e236f38029b99475866d1cf8606f1e7a.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
  backdrop-filter: blur(2px);
}
.data-check-in {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 621px;
  left: 733px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.data-check-out {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 671px;
  left: 733px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.884px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.modifica-arrow {
  position: absolute;
  width: 6.2%;
  height: 10.19%;
  top: 93.42%;
  left: 3.96%;
  background: url(./img/dettagli/83065581-30ac-4cbd-9320-6ad1b0497306.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
  border: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.modifica-arrow:hover {
  scale: 110%;
  cursor: pointer;
}
.modifica {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 85px;
  top: 885px;
  left: 194px;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 58.512px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.soggiorno-totale {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: calc(50% - -427px);
  left: calc(50% - 113.5px);
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.884px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.flex-column-bfb {
  position: absolute;
  top: 33px;
  right: 21px;
  bottom: 48px;
  left: 887.909px;
  font-size: 0px;
  z-index: 38;
}
.nome-camera {
  display: block;
  position: relative;
  height: 57px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 48px;
  font-weight: 600;
  line-height: 57px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.rectangle-3 {
  position: relative;
  width: 659.446px;
  height: 92px;
  margin: 18px 0 0 0;
  background: #d9d9d9;
  z-index: 23;
  border-radius: 20px;
}
.num-e-tipo-letti {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 133.685px;
  height: 50px;
  top: 19px;
  left: 497.827px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  z-index: 28;
}
.dim {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 133.685px;
  height: 50px;
  top: 19px;
  left: 314.259px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  z-index: 29;
}
.bed {
  position: absolute;
  width: 7.56%;
  height: 61.39%;
  top: 20.65%;
  left: 60.39%;
  background: url(./img/dettagli/8f3d14de-493c-450e-8958-12aba73203a9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.vector-4 {
  position: absolute;
  width: 7.56%;
  height: 61.39%;
  top: 20.65%;
  left: 4.56%;
  background: url(./img/dettagli/2d23b64b-1f61-431d-98a4-a46e69a006cc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}
.vector-5 {
  position: absolute;
  width: 7.56%;
  height: 61.39%;
  top: 20.65%;
  left: 35.88%;
  background: url(./img/dettagli/0ce7c0d9-f92a-4f03-a0f1-565f0d20936a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.num-max-pers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 133.685px;
  height: 48px;
  top: 21px;
  left: 102.758px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  z-index: 27;
}
.info-generali-sulla-camera {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 385.092px;
  height: 253px;
  margin: 18px 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  z-index: 32;
}
.num-adulti-num-bambini {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 457px;
  height: 152px;
  margin: 148px 0 0 272.091px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.884px;
  text-align: left;
  z-index: 38;
}
.prezzo {
  position: relative;
  width: 503px;
  height: 93px;
  margin: 107px 0 0 285.091px;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 31;
}
.prezzo-txt {
  position: relative;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
}
.text-12 {
  position: relative;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: left;
}
.flex-row-b {
  position: relative;
  width: 1697px;
  height: 264px;
  margin: 109px 0 0 111px;
  top: 200px;
  z-index: 42;
}
.aggiungi-una-camera {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1694px;
  height: 164px;
  top: 0;
  left: 2px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 80px;
  font-weight: 600;
  line-height: 121.9px;
  text-align: center;
  background: #16289e;
  z-index: 41;
  border: none;
  border-radius: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.aggiungi-una-camera:hover {
  background-color: #E0B973;
  cursor: pointer;
}

.flex-row-d {
  position: relative;
  width: 1696px;
  height: 433px;
  margin: 92px 0 0 111px;
  z-index: 46;
}
.riepilogo-prezzi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 637px;
  height: 92px;
  top: 150px;
  left: 0;
  color: #14274a;
  font-family: Montserrat, var(--default-font-family);
  font-size: 64px;
  font-weight: 600;
  line-height: 78.016px;
  text-align: center;
  white-space: nowrap;
  z-index: 46;
}
.rectangle-7 {
  position: absolute;
  width: 1694px;
  height: 433px;
  top: 150px;
  left: 2px;
  background: rgba(46, 190, 251, 0.5);
  z-index: 44;
  border-radius: 20px;
}
.flex-column-8 {
  position: absolute;
  width: 1242.644px;
  height: 264px;
  top: 106px;
  left: 50%;
  font-size: 0px;
  transform: translate(-49.97%, 0);
  z-index: 50;
}
.span-lista-camere {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 537px;
  height: 100px;
  margin: 0 0 0 87px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  z-index: 47;
}
.line-9 {
  position: relative;
  width: 1242.644px;
  margin: 32px 0 0 0;
  background: url(./img/dettagli/5e43622f-5930-4dda-ad37-e639aa85ee8b.png)
    no-repeat center;
  background-size: cover;
  border: 1px solid #000000;
  z-index: 50;
}
.span-costo-totale {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 537px;
  height: 100px;
  margin: 32px 0 0 87px;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  z-index: 45;
}
.flex-column-ef {
  position: absolute;
  width: 537px;
  height: 236px;
  top: 115px;
  left: 850px;
  font-size: 0px;
  z-index: 49;
}
.span-prezzo-camera {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 537px;
  height: 91px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: right;
  z-index: 48;
}
.span-prezzo-finale {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 537px;
  height: 91px;
  margin: 54px 0 0 0;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: right;
  z-index: 49;
}
.flex-row-dfd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1619px;
  height: 195px;
  margin: 45px 0 0 153px;
  z-index: 56;
}
.conferma-prenotazione {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 751px;
  height: 195px;
  top: 150px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 50px;
  font-weight: 700;
  line-height: 78.016px;
  text-align: center;
  z-index: 53;
  background-color: #E0B973;
  border-radius: 80px;
  border: none;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.conferma-prenotazione:hover {
  background-color: #2d9146;
  color: #ffffff;
  cursor: pointer;
}
.cancella-prenotazione {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 755px;
  height: 195px;
  top: 150px;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 50px;
  font-weight: 700;
  line-height: 78.016px;
  text-align: center;
  z-index: 56;
  border: 5px solid #16289e;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.cancella-prenotazione:hover {
  background-color: #a11616;
  border: #000000;
  color: #ffffff;
  cursor: pointer;
}


/* <><------  FOOTER  ------>><> */

.footer {
  position:bottom;
  width: 1920px;
  height: 321px;
  background-color: transparent;
}
.footer .overlap-3 {
  position: relative;
  width: 1920px;
  height: 321px;
  background-image: url(img/footer/footer.svg);
  background-size: 100% 100%;
}
.footer .group-2 {
  position: absolute;
  width: 131px;
  height: 86px;
  top: 141px;
  left: 1743px;
}
.footer .facebook-twitter {
  position: absolute;
  width: 84px;
  top: 0;
  left: 45px;
  -webkit-text-stroke: 0.5px #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 31.2px;
}
.footer .path {
  width: 10px;
  height: 19px;
  top: 3px;
  position: absolute;
  left: 0;
}
.footer .path-2 {
  width: 19px;
  height: 15px;
  top: 37px;
  position: absolute;
  left: 0;
}
.footer .path-3 {
  width: 19px;
  height: 19px;
  top: 67px;
  position: absolute;
  left: 0;
}
.footer .element-vicolo-dello {
  position: absolute;
  top: 161px;
  left: 1392px;
  -webkit-text-stroke: 0.1px #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
.footer .hotel-california {
  position: absolute;
  width: 266px;
  height: 132px;
  top: 126px;
  left: 50px;
  object-fit: cover;
}
.footer .element-sunset-blvd {
  position: absolute;
  top: 165px;
  left: 386px;
  -webkit-text-stroke: 0.1px #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
.footer .group-3 {
  position: absolute;
  width: 131px;
  height: 86px;
  top: 144px;
  left: 732px;
}
.footer .text-wrapper-5 {
  position: absolute;
  width: 220px;
  top: 120px;
  left: 1087px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 124.7px;
  white-space: nowrap;
}
.footer .line-2 {
  position: absolute;
  width: 1px;
  height: 196px;
  top: 94px;
  left: 970px;
  object-fit: cover;
}


/* POP-UP per le prenotazioni */


/* PRENOTAZIONE EFFETTUATA CON SUCCESSO */

/* TODO: change background*/
/* TODO: aggiungere icone "check" e "error" */

.prenotazioneEffettuata {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: -5vh;
  left: 17vh;
  scale: 90%;
  margin: 51px 0 0 331px;
  font-size: 0px;
  background: url(./img/index/login.svg)    no-repeat center;
  background-size: 100% 100%;
  z-index: 100;
  overflow: visible auto;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.prenotazioneEffettuata.show{
  opacity: 1;
  pointer-events: auto;
}

.prenotazioneEffettuata .check{
  z-index: 101;
}

.prenotazioneEffettuata .titolo{
  position: fixed;
  width: 75%;
  height: 30%;
  left: 12%;
  top: 10%;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  z-index: 102;
}

.prenotazioneEffettuata .ok {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 8%;
  top: 67%;
  left: 8%;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 103;
  border: none;
  background-color: #16289e;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.prenotazioneEffettuata .ok:hover {
  background-color:#1d8325;
  border: none;
  color: #ffffff;
  cursor: pointer;
}


/* ERRORE PRENOTAZIONE */

.prenotazioneErrore {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: -5vh;
  left: 17vh;
  scale: 90%;
  margin: 51px 0 0 331px;
  font-size: 0px;
  background: url(./img/index/login.svg)    no-repeat center;
  background-size: 100% 100%;
  z-index: 200;
  overflow: visible auto;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  pointer-events: auto;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.prenotazioneErrore.show{
  opacity: 1;
  pointer-events: auto;
}

.prenotazioneErrore .error{
  z-index: 201;
  
}

.prenotazioneErrore .titolo{
  position: fixed;
  width: 75%;
  height: 30%;
  left: 12%;
  top: 10%;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  z-index: 202;
}

/* TODO: perché non è tutto sulla stessa linea?????? */
.prenotazioneErrore .testo {
  position: fixed;
  width: 75%;
  height: 40%;
  left: 12%;
  top: 40%;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  text-align:center;
  z-index: 203;
}

.prenotazioneErrore .ok {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 8%;
  top: 67%;
  left: 8%;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 204;
  border: none;
  background-color: #16289e;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.prenotazioneErrore .ok:hover {
  background-color:#1d8325;
  border: none;
  color: #ffffff;
  cursor: pointer;
}