/* <> Questo file css contiene le parti relative alle pagine home (utente anonimo e utente loggato) <> */
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}


/* TODO:  Sistema slider orizzontale non so pk è rotto */

/* <><------  FOOTER HOME PAGE ------>><> */

.footer {
  position:absolute;
  width: 1920px;
  height: 321px;
  top: 2927px;
  background-color: transparent;
}
.footer .overlap-3 {
  position: relative;
  width: 1920px;
  height: 321px;
  background-image: url(img/footer/footer.svg);
  background-size: 100% 100%;
}
.footer .group-2 {
  position: absolute;
  width: 131px;
  height: 86px;
  top: 141px;
  left: 1743px;
}
.footer .facebook-twitter {
  position: absolute;
  width: 84px;
  top: 0;
  left: 45px;
  -webkit-text-stroke: 0.5px #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 31.2px;
}
.footer .path {
  width: 10px;
  height: 19px;
  top: 3px;
  position: absolute;
  left: 0;
}
.footer .path-2 {
  width: 19px;
  height: 15px;
  top: 37px;
  position: absolute;
  left: 0;
}
.footer .path-3 {
  width: 19px;
  height: 19px;
  top: 67px;
  position: absolute;
  left: 0;
}
.footer .element-vicolo-dello {
  position: absolute;
  top: 161px;
  left: 1392px;
  -webkit-text-stroke: 0.1px #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
.footer .hotel-california {
  position: absolute;
  width: 266px;
  height: 132px;
  top: 126px;
  left: 50px;
  object-fit: cover;
}
.footer .element-sunset-blvd {
  position: absolute;
  top: 165px;
  left: 386px;
  -webkit-text-stroke: 0.1px #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
.footer .group-3 {
  position: absolute;
  width: 131px;
  height: 86px;
  top: 144px;
  left: 732px;
}
.footer .text-wrapper-5 {
  position: absolute;
  width: 220px;
  top: 120px;
  left: 1087px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 124.7px;
  white-space: nowrap;
}
.footer .line-2 {
  position: absolute;
  width: 1px;
  height: 196px;
  top: 94px;
  left: 970px;
  object-fit: cover;
}
/* <><------  END FOOTER ------>><> */



/* <><------  HOME-general ------>><> */
.home.blur{
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
  -webkit-filter: blur(10px);
}

.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
   /* the bottom margin is the negative value of the footer's height */
}

.home .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 3243px;
  position: relative;
}

.home .overlap {
  position: absolute;
  width: 1920px;
  height: 2163px;
  top: 1080px;
  left: 0;
}

.home .onde {
  position: absolute;
  width: 1920px;
  height: 1902px;
  top: 0;
  left: 0;
}

.home .testimonials {
  position: absolute;
  width: 985px;
  height: 257px;
  top: 1445px;
  left: 470px;
}

.home .group {
  position: absolute;
  width: 121px;
  height: 50px;
  top: 207px;
  left: 429px;
}

.home .text-wrapper {
  position: absolute;
  top: 167px;
  left: 400px;
  -webkit-text-stroke: 0.2px #14274a;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #14274a;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .p {
  position: absolute;
  top: 98px;
  left: 0;
  -webkit-text-stroke: 0.5px #14274a;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #14274a;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 307px;
  font-family: "Adamina", Helvetica;
  font-weight: 400;
  color: #14274a;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-2 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #14274a80;
}

.home .carosello {
  width: 1570px;
  height: 564px;
  top: 747px;
  position: absolute;
  left: 178px;
}

.home .overlap-group-wrapper {
  position: absolute;
  width: 658px;
  height: 486px;
  top: 25px;
  left: 28px;
}

.home .overlap-group {
  position: relative;
  width: 654px;
  height: 486px;
}

.home .last-thing-i {
  position: absolute;
  width: 519px;
  top: 191px;
  left: 0;
  -webkit-text-stroke: 0.3px #14274a;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #14274a;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 40px;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 654px;
  top: 0;
  left: 0;
  font-family: "Adamina", Helvetica;
  font-weight: 400;
  color: #14274a;
  font-size: 60px;
  letter-spacing: 1.2px;
  line-height: normal;
}

.home .andrew-ruiz-fmz {
  position: absolute;
  width: 871px;
  height: 572px;
  top: 0;
  left: 703px;
  object-fit: cover;
}

.home .line {
  position: absolute;
  width: 2px;
  height: 518px;
  top: 25px;
  left: -1px;
}

.home .carosello-2 {
  width: 1572px;
  height: 579px;
  top: 95px;
  position: absolute;
  left: 178px;
}

.home .div-wrapper {
  position: absolute;
  width: 332px;
  height: 82px;
  top: 108px;
  left: 28px;
}

.home .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Adamina", Helvetica;
  font-weight: 400;
  color: #14274a;
  font-size: 60px;
  letter-spacing: 1.2px;
  line-height: normal;
}

.home .overlap-2 {
  position: absolute;
  width: 874px;
  height: 587px;
  top: 0;
  left: 700px;
}

.home .steven-ungermann {
  position: absolute;
  width: 864px;
  height: 574px;
  top: 4px;
  left: 5px;
}

.home .rectangle {
  position: absolute;
  width: 874px;
  height: 587px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home .img {
  position: absolute;
  width: 2px;
  height: 351px;
  top: 108px;
  left: -1px;
}

.home .there-she-stood-in {
  position: absolute;
  width: 564px;
  top: 195px;
  left: 28px;
  -webkit-text-stroke: 0.3px #14274a;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #14274a;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 40px;
}

.home .overlap-4 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-image: url(img/index/immagine-home.png);
  background-size: 100% 100%;
}

/* BOTTONI */
.home .login {
  position: absolute;
  width: 779px;
  height: 595px;
  top: 185px;
  left: 573px;
}

.home .text-wrapper-buttons {
  position: relative;
  width: 218px;
  height: 40px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0;
  line-height:normal
}

.home .bottone-LOGIN {
  left: 35px;
  position: absolute;
  width: 218px;
  height: 108px;
  top: 458px;
  background-color: #E0B973;
  border: none;
  border-radius: 12px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.home .bottone-LOGIN:hover{
  scale: 120%;
  cursor: pointer;
}

.home .bottone-REGISTER {
  left: 390px;
  position: absolute;
  width: 218px;
  height: 108px;
  top: 458px;
  background-color: #E0B973;
  border: none;
  border-radius: 12px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.home .bottone-REGISTER:hover{
  scale: 120%;
  cursor: pointer;
}

.home .hotel-california-2 {
  position: absolute;
  width: 779px;
  height: 390px;
  top: 0;
  left: 0;
  object-fit: cover;
}


/* <><------  HOME-utente-loggato ------>><> */


.home .bentornato {
  position: absolute;
  width: 818px;
  height: 599px;
  top: 143px;
  left: 545px;
}

.home .bottone-prenota {
  position: absolute;
  width: 369px;
  height: 148px;
  top: 451px;
  left: 232px;
  background-color: #E0B973;
  border: none;
  border-radius: 12px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.home .bottone-prenota:hover{
  scale: 110%;
}

.home .calendario-img {
  position: absolute;
  width: 78px;
  height: 71px;
  top: 39px;
  left: 26px;
}

.home .prenota-una-stanza {
  position: absolute;
  width: 263px;
  height: 148px;
  top: 35px;
  left: 104px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home- .overlap-5 {
  position: absolute;
  width: 814px;
  height: 357px;
  top: 0;
  left: 0;
}

.home .USER {
  position: absolute;
  width: 814px;
  height: 208px;
  top: 149px;
  left: 0;
  font-family: "Adamina", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-11 {
  position: absolute;
  width: 640px;
  height: 223px;
  top: 0;
  left: 95px;
  font-family: "Adamina", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}




/* <><------  POP-UP ------>><> */
.formRegister {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: -5vh;
  left: 17vh;
  scale: 90%;
  margin: 51px 0 0 331px;
  font-size: 0px;
  background: url(./img/userpage/Riquadro.svg)    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
  overflow: visible auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.registrazione {
  position: fixed;
  width: 75%;
  height: 10%;
  left: 12%;
  top: 3%;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  z-index: 17;
}
.frame {
  position: fixed;
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100%;
  height: 90%;
  left: 0;
  top: 10%;
}
.frame form{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.frame input:focus + label{
  visibility: hidden;
}
.frame input:valid + label{
  visibility: hidden;
}

.formRegister .nome {
  flex-shrink: 0;
  position: relative;
  width: 75%;
  height: 10%;
  left: 11%;
  top: 0;
  z-index: 28;
  overflow: hidden;
  margin-bottom: 20px;
}
.formRegister .label-nome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 31;
}
.formRegister .rectangle {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 2.6%;
  left: 0;
  background: #d9d9d9;
  z-index: 29;
  border-radius: 15px;
}
.formRegister .user-box {
  position: absolute;
  width: 7.07%;
  height: 64.94%;
  top: 18.18%;
  left: 1.98%;
  background: url(./img/userpage/user.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}
.formRegister .cognome {
  flex-shrink: 0;
  position: relative;
  width: 75%;
  height: 10%;
  left: 11%;
  z-index: 33;
  overflow: hidden;
  margin-bottom: 20px;
}
.formRegister .label-cognome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 36;
}

.formRegister .data-di-nascita {
  flex-shrink: 0;
  position: relative;
  width: 75%;
  height: 10%;
  left: 11%;
  z-index: 38;
  margin-bottom: 20px;
}
.formRegister .label-data-di-nascita {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 42;
}
.formRegister .group {
  position: absolute;
  width: 7.07%;
  height: 64.94%;
  top: 18px;
  left: 1.98%;
  z-index: 40;
}
.formRegister .icon-park-twotone-calendar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./img/userpage/28148db3-b5b5-4483-8aba-c251ef8d67b3.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  overflow: hidden;
}
.formRegister .telefono {
  flex-shrink: 0;
  position: relative;
  width: 75%;
  height: 10%;
  left: 11%;
  z-index: 44;
  margin-bottom: 20px;
}
.formRegister .label-telefono {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 49;
}
.formRegister .group-b {
  position: absolute;
  width: 7.07%;
  height: 64.1%;
  top: 16.67%;
  left: 1.98%;
  z-index: 46;
}
.formRegister .icon-park-twotone-phone-telephone {
  position: absolute;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0;
  background: url(./img/userpage/da1ccf58-4dcf-44f6-8b28-cef60740e7e8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 47;
  overflow: hidden;
}
.formRegister .email {
  flex-shrink: 0;
  position: relative;
  width: 75%;
  height: 10%;
  left: 11%;
  z-index: 52;
}
.formRegister .label-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 53;
}
.formRegister .ic-twotone-mail {
  position: absolute;
  width: 7.07%;
  height: 68.47%;
  top: 16.67%;
  left: 2.13%;
  background: url(./img/userpage/2a28e04a-9ee5-4d04-9e63-1f2236d29557.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 54;
  overflow: hidden;
}

.formRegister .goBack:hover {
  background-color:#E0B973;
  border: black 5px solid;
  color: #000000;
  cursor: pointer;
}
.formRegister .goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 45%;
  height: 8%;
  top: 80%;
  left: 25%;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 23;
  border: #16289e 5px solid;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.registrati {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 8%;
  top: 70%;
  left: 8%;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 26;
  border: none;
  background-color: #16289e;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.registrati:hover {
  background-color:#1d8325;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* <><------  INPUT ------>><> */

.nome-input {
  position: relative;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 32;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}
.cognome-input {
  position: relative;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 37;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}
.data-input {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 43;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}
.telefono-input {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 50;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}
.email-input {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 55;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}


.formRegister .close {
  position: absolute;
  top: 0%;
  left: 85%;
  scale: 100%;
  cursor: pointer;
}
.formRegister .cross{
  position: relative;
  scale: 70%;
}

.formRegister.show{
  opacity: 1;
  pointer-events: auto;
}



/* <><------  POP-UP-LOGIN ------>><> */

.wrapperLogin {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: -10%;
  left: 10%;
  scale: 90%;
  margin: 51px 0 0 331px;
  font-size: 0px;
  background: url(./img/index/login.svg)    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
  overflow: visible auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.wrapperLogin.show{
  opacity: 1;
  pointer-events: auto;
}

.h-login{
  position: fixed;
  width: 75%;
  height: 10%;
  left: 12%;
  top: 18%;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  z-index: 17;
}

.formLogin {
  position: fixed;
  width: 100%;
  height: 70%;
  left: 0;
  top: 15%;
}
.formLogin form{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.formLogin input:focus + label{
  visibility: hidden;
}
.formLogin input:valid + label{
  visibility: hidden;
}

.formLogin .email {
  position: relative;
  width: 75%;
  height: 13%;
  left: 11%;
  top: 22%;
  overflow: hidden;
  margin-bottom: 20px;
}

.formLogin .email-input {
  position: relative;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 32;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}

.formLogin .label-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 31;
}

.formLogin .ic-twotone-mail {
  position: absolute;
  width: 7.07%;
  height: 68.47%;
  top: 16.67%;
  left: 2.13%;
  background: url(./img/userpage/2a28e04a-9ee5-4d04-9e63-1f2236d29557.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}

.formLogin .rectangle {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 2.6%;
  left: 0;
  background: #d9d9d9;
  z-index: 29;
  border-radius: 15px;
}

.formLogin .password {
  position: relative;
  width: 75%;
  height: 13%;
  left: 11%;
  top: 22%;
  overflow: hidden;
  margin-bottom: 20px;
}

.formLogin .password-input {
  position: relative;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 32;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}

.formLogin .label-password {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 31;
}

.formLogin .ic-twotone-lock{
  position: absolute;
  width: 7.07%;
  height: 64.94%;
  top: 18.18%;
  left: 1.98%;
  background: url(./img/index/lock.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}

.accedi {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 8%;
  top: 60%;
  left: 8%;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 26;
  border: none;
  background-color: #16289e;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.accedi:hover {
  background-color:#1d8325;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.go-to-register{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 8%;
  top: 70%;
  left: 8%;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 26;
  border: #16289e 5px solid;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.go-to-register:hover {
  background-color:#E0B973;
  cursor: pointer;
}

.wrapperLogin .close{
  position: absolute;
  z-index: 100;
  top: 12%;
  left: 84%;
  scale: 100%;
  cursor: pointer;
}

.wrapperLogin .cross{
  position: relative;
  scale: 70%;
}

.forgot-password{
  position: fixed;
  width: 75%;
  height: 10%;
  left: 12%;
  top: 55%;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  z-index: 17;
}

/* <><------  POP-UP-VERIFICA-EMAIL ------>><> */

.wrapperVerificaEmail {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: -5vh;
  left: 17vh;
  scale: 90%;
  margin: 51px 0 0 331px;
  font-size: 0px;
  background: url(./img/index/login.svg)    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
  overflow: visible auto;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.wrapperVerificaEmail.show{
  opacity: 1;
  pointer-events: auto;
}

.verifica-titolo{
  position: fixed;
  width: 75%;
  height: 10%;
  left: 12%;
  top: 18%;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  z-index: 17;
}

.verifica-testo {
  position: fixed;
  width: 75%;
  height: 40%;
  left: 12%;
  top: 40%;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  z-index: 17;
}

.psw{
  position: fixed;
  width: 75%;
  height: 10%;
  left: 12%;
  top: 50%;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  z-index: 18;
}

.verificaAccesso {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 8%;
  top: 67%;
  left: 8%;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 26;
  border: none;
  background-color: #16289e;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.verificaAccesso:hover {
  background-color:#1d8325;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.wrapperVerificaEmail .close{
  position: absolute;
  z-index: 100;
  top: 12%;
  left: 84%;
  scale: 100%;
  cursor: pointer;
}

.wrapperVerificaEmail .cross{
  position: relative;
  scale: 70%;
}


/* <><------  POP-UP-PRIMO-LOGIN ------>><> */
.wrapperPrimoLogin {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: -5vh;
  left: 17vh;
  scale: 90%;
  margin: 51px 0 0 331px;
  font-size: 0px;
  background: url(./img/index/login.svg)    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
  overflow: visible auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* TODO: sistema primo login */
  opacity: 0;
  pointer-events: none;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.wrapperPrimoLogin.show{
  opacity: 1;
  pointer-events: auto;
}

.h-primo-login{
  position: fixed;
  width: 75%;
  height: 10%;
  left: 12%;
  top: 18%;
  color: #16289e;
  font-family: Montserrat, var(--default-font-family);
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  z-index: 17;
}



.primoLogin-testo {
  position: fixed;
  width: 75%;
  height: 10%;
  left: 12%;
  top: 30%;
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  z-index: 17;
}


.formPrimoLogin {
  position: fixed;
  width: 100%;
  height: 70%;
  left: 0;
  top: 24%;
}

.formPrimoLogin form{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.formPrimoLogin input:focus + label{
  visibility: hidden;
}
.formPrimoLogin input:valid + label{
  visibility: hidden;
}

.formPrimoLogin .password {
  position: relative;
  width: 75%;
  height: 13%;
  left: 11%;
  top: 22%;
  overflow: hidden;
  margin-bottom: 20px;
}

.formPrimoLogin .password-input {
  position: relative;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 32;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}

.formPrimoLogin .label-password {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 31;
}

.formPrimoLogin .ic-twotone-lock{
  position: absolute;
  width: 7.07%;
  height: 64.94%;
  top: 18.18%;
  left: 1.98%;
  background: url(./img/index/lock.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}

.formPrimoLogin .confermaPassword {
  position: relative;
  width: 75%;
  height: 13%;
  left: 11%;
  top: 22%;
  overflow: hidden;
  margin-bottom: 20px;
}

.formPrimoLogin .conferma-input {
  position: relative;
  width: 90%;
  height: 100%;
  left: 10%;
  background: transparent;
  border: none;
  z-index: 32;
  outline: none;
  font-size: 30px;
  color:#302e2e;
}

.formPrimoLogin .label-conferma {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 11.46%;
  color: #474747;
  font-family: Montserrat, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 39.008px;
  text-align: left;
  z-index: 31;
}

.formPrimoLogin .ic-twotone-mail{
  position: absolute;
  width: 7.07%;
  height: 64.94%;
  top: 18.18%;
  left: 1.98%;
  background: url(./img/index/lock.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}

.formPrimoLogin .rectangle{
  position: absolute;
  width: 100%;
  height: 95%;
  top: 2.6%;
  left: 0;
  background: #d9d9d9;
  z-index: 29;
  border-radius: 15px;
}

.primoAccesso {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 8%;
  top: 67%;
  left: 8%;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  z-index: 26;
  border: none;
  background-color: #16289e;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.primoAccesso:hover {
  background-color:#1d8325;
  border: none;
  color: #ffffff;
  cursor: pointer;
}


