/* <> Questo file css contiene le parti relative alla pagina di prenotazione <> */

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

/* <><------  PRENOTAZIONE  ------>><> */
.prenotazione {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100%;
  }
  .prenotazione .div{
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 2543px;
    position: relative;
  }
  .prenotazione .overlap {
    position: absolute;
    width: 1602px;
    height: 149px;
    top: 0;
    left: 0;
  }
  .prenotazione .onde {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
  }
  .prenotazione .line {
    position: absolute;
    width: 150px;
    height: 10px;
    top: 101px;
    left: 1110px;
  }
  .prenotazione .info-camera {
    position: absolute;
    width: 1721px;
    height: 594px;
    top: 561px;
    left: 111px;
  }
  .prenotazione .info-camera-2 {
    top: 1216px;
    left: 115px;
    position: absolute;
    width: 1721px;
    height: 594px;
  }
  .prenotazione .info-camera-3 {
    top: 1871px;
    left: 111px;
    position: absolute;
    width: 1721px;
    height: 594px;
  }
  .prenotazione .selezione {
    position: absolute;
    width: 1697px;
    height: 135px;
    top: 217px;
    left: 111px;
  }
  .prenotazione .raphael-arrowdown {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 1697px;
  }
  .prenotazione .vari-select-wrapper {
    position: absolute;
    width: 1697px;
    height: 135px;
    top: 0;
    left: 0;
    background-color: #16289ed4;
    border-radius: 50px;
  }
  .prenotazione .vari-select {
    position: relative;
    width: 1513px;
    height: 71px;
    top: 32px;
    left: 92px;
  }
  .prenotazione .calendario-out {
    left: 534px;
    position: absolute;
    width: 445px;
    height: 71px;
    top: 0;
  }

  .prenotazione .book-start{
    position: relative;
    width: 445px;
    height: 71px;
    background-color: #84ccea;
    border-radius: 20px;
    border-width: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 550;
    color: #000000;
    font-size: 36px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .prenotazione .book-end{
    position: relative;
    width: 445px;
    height: 71px;
    background-color: #84ccea;
    border-radius: 20px;
    border-width: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 550;
    color: #000000;
    font-size: 36px;
    text-align: center;
  }

  .prenotazione .calendario-in {
    left: 0;
    position: absolute;
    width: 445px;
    height: 71px;
    top: 0;
  }

  .prenotazione .ospiti {
    position: absolute;
    width: 445px;
    height: 71px;
    top: 0;
    left: 1068px;
    background-color: #84ccea;
    border-radius: 20px;
  }
  .prenotazione .overlap-2 {
    position: relative;
    width: 430px;
    height: 71px;
    left: 15px;
  }
  .prenotazione .text-wrapper-7 {
    position: absolute;
    width: 368px;
    height: 29px;
    top: 17px;
    left: -14%;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 33px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .prenotazione .ic-twotone-bed {
    position: absolute;
    width: 68px;
    height: 71px;
    top: 0;
    left: 80%;
  }
  .prenotazione .num-ospiti{
    position: absolute;
    width: 68px;
    height: 71px;
    top: 0;
    left: 60%;
    background-color: #84ccea;
    border-width: 0;
    text-align: center;
    font-family: "Montserrat", Helvetica;
    font-size: 33px;
    font-weight: 600;
  }
  .prenotazione .filtri {
    position: absolute;
    width: 22%;
    height: 115px;
    top: 384px;
    left: 110px;
  }
.prenotazione .filtri-2 {
    position: absolute;
    width: 367px;
    height: 56px;
    top: 0;
    left: 1px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  .prenotazione .ordina-per {
    position: absolute;
    width: 27%;
    height: 115px;
    top: 384px;
    left: 70%;
  }

  .prenotazione .text-wrapper-9 {
    position: absolute;
    width: 305px;
    height: 56px;
    top: 0;
    left: 3px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }

  /* <><------  FOOTER  ------>><> */

  .footer {
    position:bottom;
    width: 100%;
    height: 321px;
    background-color: transparent;
  }
  .footer .overlap-3 {
    position: relative;
    width: 100%;
    height: 321px;
    background-image: url(/img/footer/footer.svg);
    background-size: 100% 100%;
  }
  .footer .group-2 {
    position: absolute;
    width: 131px;
    height: 86px;
    top: 141px;
    left: 1743px;
  }
  .footer .facebook-twitter {
    position: absolute;
    width: 84px;
    top: 0;
    left: 45px;
    -webkit-text-stroke: 0.5px #ffffff;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #f7f7f7;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 31.2px;
  }
  .footer .path {
    width: 10px;
    height: 19px;
    top: 3px;
    position: absolute;
    left: 0;
  }
  .footer .path-2 {
    width: 19px;
    height: 15px;
    top: 37px;
    position: absolute;
    left: 0;
  }
  .footer .path-3 {
    width: 19px;
    height: 19px;
    top: 67px;
    position: absolute;
    left: 0;
  }
  .footer .element-vicolo-dello {
    position: absolute;
    top: 161px;
    left: 1392px;
    -webkit-text-stroke: 0.1px #ffffff;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  .footer .hotel-california {
    position: absolute;
    width: 266px;
    height: 132px;
    top: 126px;
    left: 50px;
    object-fit: cover;
  }
  .footer .element-sunset-blvd {
    position: absolute;
    top: 165px;
    left: 386px;
    -webkit-text-stroke: 0.1px #ffffff;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  .footer .group-3 {
    position: absolute;
    width: 131px;
    height: 86px;
    top: 144px;
    left: 732px;
  }
  .footer .text-wrapper-5 {
    position: absolute;
    width: 220px;
    top: 120px;
    left: 1087px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 124.7px;
    white-space: nowrap;
  }
  .footer .line-2 {
    position: absolute;
    width: 1px;
    height: 196px;
    top: 94px;
    left: 964px;
    object-fit: cover;
  }

  /* <><------  FILTRI  ------>><> */

  .filtri {
    position: relative;
    left: 0;
  }

  .camera-select {
    position: relative;
    width: 70%;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    font-size: 30px;
    top:40%;
  }
  .camera-select select {
    display: none; /*nascone il select iniziale */
  }

  .select-selected {
    background-color: #d9d9d9;
  }

  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 28px;
    right: 30px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #ffffff transparent transparent transparent;
    scale: 300%;
}
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #000000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #cecece;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }



  /* <><------  LISTA CAMERE  ------>><> */
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    top:23%;
    background-color: #ffffff;
  }

  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: auto; /* Hidden by default */
  }

  .show {
    display: block;
  }



  .room-container,
  .room-container * {
    box-sizing: border-box;
  }
  .room-container {
    position: relative;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rectangle {
    position: relative;
    display: flex;
    width: 85%;
    height: 90%;
    top: 0;
    left: 0;
    background: #ffffff;
    border: 5px solid #16289e;
    border-radius: 50px;
  }

  .nome-camera {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 10%;
    top: 8%;
    left: 48%;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .info-camera-wrapper {
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 15%;
    top: 18%;
    left: 48%;
    z-index: 6;
  }
  .rectangle-2 {
    position: relative;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #d9d9d9;
    z-index: 7;
    border-radius: 20px;
  }
  .num-e-tipo-letti {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: inherit;
    width: 20%;
    height: 80%;
    top:10%;
    left: 78%;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
    z-index: 12;
  }
  .dim {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: inherit;
    width: 17%;
    height: 80%;
    top:10%;
    left: 48%;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
    z-index: 13;
  }
  .nummax-pers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: inherit;
    width: 15%;
    height: 80%;
    top:10%;
    left: 11%;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
    z-index: 11;
  }
  .bed {
    position: inherit;
    width: 7.56%;
    height: 54.35%;
    top: 22.83%;
    left: 68.36%;
    background: url(/img/camere/bed.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 8;
  }
  .people {
    position: inherit;
    width: 6.56%;
    height: 54.35%;
    top: 22.83%;
    left: 2.54%;
    background: url(/img/camere/people.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
  }
  .ruler {
    position: inherit;
    width: 6.56%;
    height: 54.35%;
    top: 22.83%;
    left: 39.85%;
    background: url(/img/camere/ruler.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 10;
  }
  .info-generali-sulla-camera {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 20%;
    height: 55%;
    top: 35%;
    left: 48%;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
    text-align: left;
    z-index: 16;
  }
  .prezzo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 20%;
    height: 10%;
    top: 60%;
    left: 70%;
    color: #000000;
    font-family: Montserrat, var(--default-font-family);
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
    text-align: left;
    z-index: 15;
  }
  .seleziona {
    position: absolute;
    width: 15%;
    height: 10%;
    top: 76%;
    left: 70%;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 17;
    font-family: Montserrat, var(--default-font-family);
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;
    color: #ffffff;
    background-color: #16289e;
  }


  /* <><------  CAROUSEL  ------>><> */

  .carousel-wrapper{
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }


/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: -40px;
}

.active, .dot:hover {
  background-color: #16289e;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-container img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  border-radius: 50px;
}